<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/resources/css/usuariosRegistrados.css" />
  <%- include('./partials/boostrap.ejs') %>
    <title>Usuarios registrados</title>
</head>

<body>
  <%- include('./partials/administrador.ejs') %>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control mr-3" placeholder="Buscar usuario" id="search-input" />
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" id="search-button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="table-wrapper">
            <table class="table table-borderless" id="tabla-usuario">
              <thead>
                <tr class="bg-success">
                  <th>ID</th>
                  <th>PRODUCTO</th>
                  <th>CANTIDAD</th>
                  <th>RESPONSABLE</th>
                  <th>ESTADO</th>
                  <th>FECHA DEVOLUCION</th>
                </tr>
              </thead>
              <tbody>
                <% datosPrestamo.forEach((element,index)=>{ %>
                  <tr>    
                    <td><%= element.ID_PRESTAMOS %></td>
                    <% if (datosReserva[index]) { %>
                      <td><%= datosReserva[index].NOMBRE_INSUMO %></td>
                      <td><%= element.CANTIDAD %></td>
                    <% } else { %>
                      <td></td>
                      <td></td>
                    <% } %>
                    <% if (datosPrestamo[index]) { %>
                      <td><%= element.ID_USUARIO %></td>
                    <% } else { %>
                      <td></td>
                    <% } %>
                    <td><%= element.ESTADO %></td>
                     <% if (datosPrestamo[index]) { %>
                    <td><%= element.FINAL_PRESTAMO %></td> 
                     <% } %>
                  </tr>
                <% }); %>
              </tbody>            
            </table>
          </div>
        </div>
      </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
  <script src="/resources/js/usuariosRegistrados.js"></script>

</html>
<!--V3-->