<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/usuariosRegistrados.css">
    <%- include('./partials/boostrap.ejs') %> 
    <title>Usuarios registrados</title>
</head>

<body>

  <%- include('./partials/administrador.ejs') %>



  <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control mr-3" placeholder="Buscar usuario" id="search-input">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" id="search-button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="table-wrapper">
            <table class="table table-borderless" id="tabla-usuario">
                <thead>
                    <tr class="bg-success">
                      <th>ID</th>
                      <th>PRODUCTO</th>
                      <th>CANTIDAD</th>
                      <th>RESPONSABLE</th>
                      <th>FECHA DE ENTREGA</th>
                      <th>ESTADO</th>
                      <th>CONFIRMACION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% datosPrestamo.forEach((element,index)=>{ %>
                      <tr>    
                        <td><%= element.ID_PRESTAMOS %></td>
                        <% if (datosReserva[index]) { %>
                          <td><%= datosReserva[index].NOMBRE_INSUMO %></td>
                          <td><%= element.CANTIDAD %></td>
                        <% } else { %>
                          <td></td>
                          <td></td>
                        <% } %>
                        <% if (datosPrestamo[index]) { %>
                          <td><%= element.ID_USUARIO %></td>
                          <td><%= element.FINAL_PRESTAMO %></td>
                        <% } else { %>
                          <td></td>
                          <td></td>
                        <% } %>
                        <td><%= element.ESTADO %></td>
                    <td>
                      <form action="actualizarEstado?id=<%=element.ID_PRESTAMOS%>&estado=ENTREGADO" method="POST">
                      <button id="devuelto" type="submit" class="btn btn-success mr-2" data-id="<%= element.ID_PRESTAMOS %>">Entregado</button>
                    </form>
                    </td>
                      </tr>
                    <% }); %>
                  </tbody>                  
            </table>
          </div>
        </div>
      </div>
    </div>  
    <!-- <script> //esto es una actualizacion
      document.addEventListener("DOMContentLoaded", function () {
        const entregadoLinks = document.querySelectorAll(".btn-success");
    
        entregadoLinks.forEach((link) => {
          link.addEventListener("click", async function (e) {
            e.preventDefault();
            console.log("Evento de clic ejecutado"); // Agregar console.log aquí
            const id = this.getAttribute("data-id");
            try {
              const response = await fetch(`/prestamos/${id}/entregado`, {
                method: "PUT",
                headers: {
                  "Content-Type": "application/json",
                },
              });
              if (response.ok) {
                const data = await response.json();
                alert("Estado actualizado a 'ENTREGADO'");
                location.reload();
              } else {
                alert("No se pudo actualizar el estado.");
              }
            } catch (error) {
              console.error(error);
              alert("Error al actualizar el estado.");
            }
          });
        });
      });
    </script> -->
</body>
<%- include('./partials/footer.ejs') %>
</html>
<!--V3-->