<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/resources/css/prestamoPC2.css">
  <%- include('./partials/boostrap.ejs') %>
  <title>Prestamo PC SENA</title>
</head>


<body>
  <!--Contenedor de logos-->
  <%- include('./partials/iconos.ejs') %>
  <!--Contenedor de la imagen-->
  <div class="container">
    <img src="/resources/img/logoSena.png" width="200px" class="mx-auto d-block">
  </div>
  <!-- contenedor del menu -->
  <%- include('./partials/instructor.ejs') %>
  <!-- CONTENEDOR DEL FONDO Y EL LETRERO -->
  <div class="fondo rounded-top">
    <div class="container-letrero rounded-top">
      RESERVAR
    </div>
    <!-- CONTENEDOR DEL FORMULARIO -->
    <div class="formulario">
      <form class="forma-formulario" action="/insertarComputador" method="post" id="formulario">
        <h1 class="titulo">Reserva de PC</h1>
<!-- CONTENEDOR FORMULARIO -->
<div class="contenedor-items-formulario">
    <input type="number" class="items" placeholder="a" id="documento" name="DOCUMENTO" required>
    <label for="" class="label">N° de documento</label>
  </div>

  <div class="contenedor-items-formulario">
    <select class="items" name="ID_COMPUTADOR" required>
      <option value="" disabled selected>-- Seleccione el equipo --</option>
      <% datosComputador.forEach((computador,index)=>{ %>
        <option value="<%= computador.ID_COMPUTADOR %>"><%= computador.ID_COMPUTADOR %></option>
      <% }); %>
    </select>
  </div>

  <div class="contenedor-items-formulario">
    <select class="items" name="MARCA" required>
      <option value="" disabled selected>-- Seleccione la marca --</option>
      <% datosComputador.forEach((computador,index)=>{ %>
        <option value="<%= computador.MARCA %>"><%= computador.MARCA %></option>
      <% }); %>
    </select>
  </div>
  
  <div class="contenedor-items-formulario">
    <select class="items" aria-placeholder="Default select example"  name="JORNADA" required>
      <option value="" disabled selected>-- Seleccione la jornada --</option>
      <option value="Diurna">Diurna</option>
      <option value="Tarde">Tarde</option>
      <option value="Noche">Noche</option>
    </select>
  </div>
  
    <div class="contenedor-items-formulario">
          <input type="date" class="items" id="fecha" name="FECHA" pattern="\d{4}-\d{2}-\d{2}" required>
          <label for="" class="label"></label>
        </div>
        
        <div class="contenedor-items-formulario">
          <input type="time" class="items" id="hora" name="HORA" pattern="[0-9]{2}:[0-9]{2}" required>
          <label for="" class="label"></label>
        </div>
        

  <div class="contenedor-items-formulario">
    <input type="text" class="items-2" placeholder="a" disabled>
    <label for="" class="label">Tiempo Requerido</label>
  </div>

<div class="contenedor-items-formulario">
  <select class="items-3" aria-placeholder="Default select example" id="tiempo" name="TIEMPO" required>
    <option hidden value="" disabled selected>Tiempo</option>
    <option value="01:00:00">1 hora</option>
    <option value="02:00:00">2 horas</option>
    <option value="03:00:00">3 horas</option>
    <option value="04:00:00">4 horas</option>
  </select>
</div>
        <input type="submit" class="reserva-btn" value="RESERVAR">
        <input type="reset" class="cancelar-btn" value="CANCELAR">
      </form>
    </div>
  </div>
</body>
<script src="/resources/js/prestamoPC2.js"></script>
<script src="/resources/js/iconos.js"></script>

</html>