<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/seguimiento.css">
  <%- include('./partials/boostrap.ejs') %>
    <title>Seguimiento</title>
</head>



<body>
  <!--Contenedor de logos-->
  <%- include('./partials/iconos.ejs') %>
    <!--Contenedor de la imagen-->
    <div class="container">
      <img src="/resources/img/logoSena.png" width="200px" class="mx-auto d-block">
    </div>
    <!-- contenedor del menu -->
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li>
          <a href="aprobar">Aprobar</a>
        </li>
        <li>
          <a href="seguimiento">Seguimiento</a>
        </li>
        <li>
          <a href="reportes">Reportes</a>
        </li>
      </ul>
    </nav>
    <table id="tabla-solicitudes">
      <thead>
        
        <tr>
          <th>Docuemnto</th>
          <th>Solicitudes</th>
          <th>Tipo</th>
          <th>Caracteristicas</th>
          <th>Fecha</th>
          <th>Número de Insumos</th>
          <th><div class="buscador">
            <input type="text"  placeholder="Buscar" id="search-input" required>
            <div class="btnbuscar" id="search-button">
            <label for="search-input"><i class="fas fa-search icon" style="color: #faf8f8;;"></i></label>
          </div>
        </div></th>
        </tr>
      </thead>
      
      <tbody class="fondo">
       
          <% datosReserva.forEach((reserva, index) => { %>
            <tr class="info">
              <td>
                <h4 class="info1"><%= reserva.ID_USUARIO %></h4>
              </td>
              <td>
                <h4 class="info1"><%= reserva.NOMBRE_INSUMO %></h4>
               </td>
               <td> <h4 class="info1"></h4><%= reserva.TIPO_INSUMO %></h4>
                </td><td><h4 class="info1"><%= reserva.CARACTERISTICAS %></h4></td>
               <td>
                <% if (datosPrestamos[index]) { %>
                  <% const fechaPrestamo = new Date(datosPrestamos[index].FECHA_PRESTAMO); %>
                  <h5 class="info1"><%= fechaPrestamo.toLocaleDateString() %></h5>
                <% } else { %>
                  <h5 class="info1">-</h5> 
                <% } %>
              </td>
              
              </td>
              <td>
                <h5 class="info1"><%= reserva.CANTIDAD %> <%= reserva.MEDIDAS %></h5>
              </td>
              <td>
                <h5 class="info1"> <%= reserva.ESTADO %></h5>
              </td>
            
            </tr>
          <% }); %>
       

      </tbody>
    </table>

    

</body>
<script src="/resources/js/seguimiento.js"></script>
<script src="/resources/js/iconos.js"></script>


</html>